{% extends "layout.html" %}

{% block content %}
    <style>
      #dnscard{
        border-style: solid;
        padding-top: 1em;
      }
      .dns-type-heading{
        font-size: 1.5em;
        margin-bottom: 0.1em;
      }
    </style>
    <div id="dnssearch" class="container">
      <form action="/dnsshow" method="POST">
        <!-- <input name="domain"> -->
        <label for="domain">Domain</label>
        <input placeholder="domain.com" name="domain" id="domain" type="text" class="validate">
        <input type="submit" value="Lookup">
      </form>
    </div>
    {% if all_a_records %}
      <div id="dnscard" class="container">
        <center><h5><strong>Domain: </strong>{{ domain }}</h5><br></center>

        <!-- A RECORDS -->
        <p class="dns-type-heading">@ Records</p>
        {% for v in all_a_records %}
          <strong>Name: </strong>{{ v['name'] }} | <strong>TTL: </strong>{{ v['ttl'] }} | <strong>Type: </strong>{{ v['type'] }} | <strong>Value: </strong>{{ v['value'] }}
        {% endfor %}
        <!-- AAAA RECORDS -->
        <p class="dns-type-heading"AAAA Records</p>
        {% for v in all_aaaa_records %}
          <strong>Name: </strong>{{ v['name'] }} | <strong>TTL: </strong>{{ v['ttl'] }} | <strong>Type: </strong>{{ v['type'] }} | <strong>Value: </strong>{{ v['value'] }}
        {% endfor %}
        <!-- MX RECORDS -->

        <!-- CNAME RECORDS -->

        <!-- SOA LENGTH -->

        <!-- TXT RECORDS -->

        <!-- NS RECORDS -->
      </div>
    {% endif %}

{% endblock %}
