{% extends "layout.html" %}

{% block content %}
<style>
#submit-button{
  width: 100%;
  background-color: #424242;
}
#feedback-container{
  margin-top: -3em;
}
#feedback-title{
  color: #555;
}
</style>
<div id="feedback-container" class="container">
  <center><h4 id="feedback-title">Feedback</h4></center><br>
  <div class="row">
    <!-- <h1>This is the Exception!</h1> -->
    <form action="{{ url_for('feedback') }}" method="POST" class="col s12">
      <div class="row">
        <label for="fb_agent_name">Name (optional)</label>
        <input name="fb_agent_name" id="fb_agent_name" type="text" class="validate">
      </div>
      <div class="row">
          <label for="fb_agent_email">Email</label>
          <input placeholder="someone@email.com" name="fb_agent_email" id="fb_agent_email" type="email" class="validate">
      </div>
      <div class="row">
          <label for="feedback">Feedback</label>
          <textarea name="feedback" id="feedback" class="materialize-textarea validate"></textarea>
      </div>
      <button id="submit-button" class="btn" type="submit" name="action">Send</button>
    </form>
  </div>
  </div>
{% endblock %}
